body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f9fc;
  color: #222;
}

section {
  padding: 60px 0;
}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.project-card {
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
